:root {
    /*Contrast Color*/
    --contrast-color: rgb(0, 131, 171);
    --contrast-color-secondary: rgb(0, 102, 133);
    --contrast-color-degree: rgba(0, 131, 171, 0.808);
    --active-color: rgb(0, 131, 171);

    /*Buttons Color*/
    --button-primary-color: rgb(0, 83, 109);
    --button-primary-color-hover: rgb(0, 64, 83);

    /*Dark Mode Identifiers*/
    --dark-mode-identifier: rgb(53, 53, 53);

    --white-color: rgb(255, 255, 2550);

    /*nav colors*/
    --nav-background-color: rgb(29, 29, 29);

    /*Responsive Widths*/
    --width-responsive: 350px;

    /*Footer Color*/
    --footer-color: rgb(53, 53, 53);

    --image-hero: url("./../img/principal/hero/h1.jpg");
}

/*BEGIN SCROLL BAR STYLE*/
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--contrast-color);
}
/*END SCROLL BAR STYLE*/

.modal-content {
    background-color: var(--background-color-secondary);
    color: var(--text-color-primary);
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito";
    /*Background Color Dark*/
    --background-color-primary: rgb(236, 236, 236);
    --background-color-secondary: rgb(255, 255, 255);
    --background-color-degree: rgba(255, 255, 255, 0.384);

    --background-color-primary-hover: rgba(44, 44, 44, 0.878);
    --background-color-degree-hover: rgba(235, 235, 235, 0.384);

    --text-color-primary: rgb(78, 78, 78);
    --text-color-white: rgb(255, 255, 255);

    --button-secondary-color: rgb(230, 230, 230);
    --button-secondary-color-hover: rgb(207, 207, 207);

    --shadow-color: rgb(140, 140, 140);
}

body.dark {
    /*BEGIN Color Default*/
    --background-color-primary: rgb(60, 60, 60);
    --background-color-secondary: rgb(73, 73, 73);
    --background-color-degree: rgba(82, 82, 82, 0.384);

    --background-color-primary-hover: rgba(99, 99, 99, 0.878);
    --background-color-degree-hover: rgba(235, 235, 235, 0.384);

    --text-color-primary: rgb(255, 255, 255);
    --text-color-white: rgb(255, 255, 255);

    --button-secondary-color: rgb(230, 230, 230);
    --button-secondary-color-hover: rgb(207, 207, 207);

    --shadow-color: rgb(140, 140, 140);
    /*END Color Default*/
}

/*===== BEGIN  Hero Style =====*/
.hero.lazy-background {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    transition: all 0.5s ease-in-out;
}

.hero.lazy-background.visible {
    background-image: linear-gradient(
            var(--background-color-degree) 25%,
            var(--contrast-color-degree) 25%
        ),
        var(--image-hero);
}

.hero .hero-avatar {
    display: block;
    position: relative;
    top: 80px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    /* vertical-align: middle; */
    border: 6px solid var(--contrast-color);
    transition: all 0.5s ease-in-out;
}

.hero .hero-logo {
    position: fixed;
}
.hero .hero-logo img {
    width: 20px;
    left: 4px;
}

.hero .hero-avatar img {
    width: 165px;
    height: auto;
    margin-left: -20px;
    margin-top: -10px;
}

.hero .hero-info {
    position: relative;
    width: 425px;
    padding: 0 8px 22px;
    text-align: center;
    top: 105px;
    margin: 0 auto;
}
.hero .hero-info h3 {
    color: var(--text-color-secondary);
}

.hero .typewritting {
    width: auto;
}

.hero .typewritting h1 {
    color: var(--text-color-white);
    font-size: 2.7em;
    overflow: hidden;
    border-right: 0.15em solid var(--text-color-white);
    white-space: nowrap;
    margin: 0 auto;
    word-spacing: 0.5em;

    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.hero h3 {
    font-size: 1.4em;
    color: var(--text-color-secondary);
    margin: 5px 5px;
}

.hero p {
    width: auto;
    font-size: 13px;
    position: relative;
    text-align: justify;
    margin: 20px auto;
    color: var(--text-color-white);
}
.hero p.hastag {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.hero .row {
    display: block;
    position: relative;
}

.hero .btn-hero:nth-of-type(1) {
    background: var(--button-primary-color);
    color: var(--text-color-white);
    margin-right: 5px;
}

.hero .btn-hero:nth-of-type(1):hover {
    background: var(--button-primary-color-hover);
    color: var(--text-color-white);
}

.hero .btn-hero:nth-of-type(2) {
    background: var(--button-secondary-color);
    color: var(--text-primary-color);
    margin-right: 5px;
}

.hero .btn-hero:nth-of-type(2):hover {
    background: var(--button-secondary-color-hover);
    margin-right: 5px;
}

/* Social Networks Bar */
.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 1;
}

.social ul {
    list-style: none;
    padding-left: 0px;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 0 20px 20px 0;
}

.social ul li .icon-facebook {
    background: #3b5998;
}

.social ul li .icon-linkedin {
    background: #0e76ab;
}
.social ul li .icon-instagram {
    background: #f77737;
}
.social ul li .icon-mail {
    background: #666666;
}

.social ul li a:hover {
    background: var(#ffff);
    padding: 10px 30px;
    color: var(--text-color-primary);
    border-radius: 0 20px 20p 0;
}

/* Config Panel */
.config-panel {
    background: var(--background-color-secondary);
    height: auto;
    width: 150px;
    border-radius: 25px 0 0 25px;
    position: fixed;
    right: -150px;
    top: 15px;
    z-index: 6;
    transition: all 0.5s ease-in-out;
}

.config-panel .panel-inner {
    text-align: center;
    position: relative;
    padding: 10px;
    color: var(--text-color-primary);
}

.config-panel .panel-inner h4 {
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 5px;
}

.config-panel .panel-inner .config-button {
    background: var(--background-color-secondary);
    color: var(--text-color-primary);
    text-align: center;
    vertical-align: middle;
    position: absolute;
    padding-top: 3px;
    top: 30px;
    left: -30px;
    width: 30px;
    height: 30px;
    border-radius: 10px 0 0 10px;
    transition: all 0.5s;
}

.config-panel .panel-inner .config-button:hover {
    background: var(--background-color-degree-hover);
    cursor: pointer;
}

.config-panel .chooseLanguage {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    padding: 2px;
}

.config-panel .chooseLanguage li {
    margin-left: 5px;
}

.config-panel .chooseLanguage li a:hover {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    border: 2px solid var(--background-color-secondary);
}

.config-panel .chooseColor {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    padding: 2px;
}

.config-panel .chooseColor li {
    margin-left: 5px;
}

.config-panel .chooseColor li a {
    height: 65%;
}

.chooseColor {
    margin-bottom: 0px;
}
.config-panel .chooseColor li a {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    margin-top: 5px;
}
.config-panel .chooseColor li a:hover {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    border: 2px solid var(--background-color-secondary);
}
.config-panel .chooseColor li.list-inline-item {
    margin-right: 5px;
}
.config-panel .chooseColor li.active a {
    border: 2px solid #fff;
}
.config-panel .chooseColor li.theme-1 a {
    background: #54b689;
}
.config-panel .chooseColor li.theme-2 a {
    background-color: #0083ab;
}
.config-panel .chooseColor li.theme-3 a {
    background-color: #5469c9;
}
.config-panel .chooseColor li.theme-4 a {
    background-color: #43b32c;
}
.config-panel .chooseColor li.theme-5 a {
    background-color: #eea73b;
}
.config-panel .chooseColor li.theme-6 a {
    background-color: #6c51a4;
}
.config-panel .chooseColor li.theme-7 a {
    background-color: #5d6ba7;
}
.config-panel .chooseColor li.theme-8 a {
    background-color: #6c51a4;
}
.config-panel .chooseColor li.theme-9 a {
    background-color: #d67553;
}
.config-panel .chooseColor li.theme-10 a {
    background-color: #5fcb71;
}

.responsive-button {
    position: relative;
    width: auto;
    top: 14px;
    font-size: 24px;
    text-align: end;
    right: 11px;
    cursor: pointer;
    color: var(--text-color-white);
    display: none;
}

/* Button Switch Dark Mode or White Mode */
.switch-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-button .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch-button .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-color-primary);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch-button input:checked + .slider {
    background-color: var(--contrast-color-secondary);
}

.switch-button input:focus + .slider {
    box-shadow: 0 0 1px var(--dark-mode-identifier);
}

.switch-button input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.switch-button .slider.round {
    border-radius: 34px;
}

.switch-button .slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 650px) {
    .responsive-button {
        display: block;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--white-color);
    }
}

/*===== END  Hero Style =====*/

/*===== BEGIN Navbar Style =====*/
.nav {
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background: var(--nav-background-color);
    border-bottom: 1px solid var(--contrast-color);
}

.nav a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.nav a:hover {
    color: var(--active-color);
    transition: all 0.5s;
    text-decoration: none;
}

.nav a.active {
    color: var(--active-color);
}

.nav #btn-close-menu {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.sticky + .content {
    padding-top: 40px;
}

@media only screen and (max-width: 650px) {
    .hero {
        margin-left: 0px;
    }
    .nav {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0px;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .nav a:hover {
        color: var(--active-color);
        transition: all 0.5s;
    }
    .hero {
        transition: margin-left 0.5s;
        padding: 16px;
    }
}

/*===== END Navbar Style =====*/
.aboutMe {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: var(--background-color-secondary);
    background-image: linear-gradient(
            -32deg,
            var(--background-color-primary) 43%,
            transparent 30%
        ),
        linear-gradient(47deg, var(--contrast-color) 36%, transparent 27%);
}

.aboutMe .container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.aboutMe h1 {
    margin: 0;
    text-align: center;
    font-weight: 50;
    font-size: 40px;
    color: var(--contrast-color-secondary);
}

.aboutMe .container p {
    color: var(--text-color-primary);
    text-align: justify;
    font-weight: normal;
    font-size: 14px;
    text-shadow: 0px 0px 10px var(--background-color-primary);
}
.aboutMe .container h1 {
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    font-size: 35px;
    padding-bottom: 40px;
}
.aboutMe .container h3 {
    color: var(--contrast-color);
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
}
.aboutMe .container h3::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 5%;
    background: var(--contrast-color);
    position: absolute;
    left: 0;
}

.aboutMe .container .list-aboutme-ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    padding: 0;
    margin-bottom: 4em;
}

.aboutMe .container .list-aboutme-ol li {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 0.6em;
    margin: 0.5em 0;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 0.3em;
    transition: 0.5s all ease-in-out;
    font-size: 14px;
}
.aboutMe .container .list-aboutme-ol li:hover {
    background: var(--primary-color-active);
    color: var(--white-color);
    padding: 0.4em 0.4em 0.4em 1em;
}
.aboutMe .container .list-aboutme-ol li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 64%;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    border-radius: 50px;
}

.aboutMe .container .img-content {
    text-align: center;
}

.aboutMe .container .img-content img {
    max-width: 40%;
    border-radius: 10px;
}

.aboutMe .container p a {
    text-decoration: none;
    color: var(--contrast-color);
}

.aboutMe .container p a:hover {
    text-decoration: underline;
    color: var(--contrast-color-secondary);
}
.aboutMe .container .card-section {
    display: flex;
    flex-wrap: inherit;
    justify-content: center;
    flex-direction: row;
}
.aboutMe .container .card {
    width: 15em;
    background: var(--background-color-secondary);
    color: var(--text-color-primary);
    border-radius: 20px;
    box-shadow: 0px 7px 16px var(--shadow-color);
    transition: ease-in-out 0.5s;
}

.aboutMe .container .card:hover {
    transform: scale(1.1);
    z-index: 3;
}

.aboutMe .container .card .card-title {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
}
.aboutMe .container .card .card-header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.aboutMe .container .card .card-header i {
    font-size: 30px;
    text-align: center;
    margin: 8px auto;
    /* background: var(--background-color-primary); */
    text-shadow: 0px 0px 10px var(--background-color-primary);
    transition: all 0.5s ease-in-out;
}

.aboutMe .container .card .card-text {
    color: var(--text-color-primary);
}

.aboutMe .container .card .card-header i:hover {
    background: var(--background-color-primary);
    border-radius: 20%;
    font-size: 40px;
    text-align: center;
    margin: 8px auto;
    padding: 5px;
}

.aboutMe .container .container-timeline {
}

.aboutMe .container .container-timeline .timeline {
    counter-reset: year 2018;
    position: relative;
}

.aboutMe .container .container-timeline .timeline li {
    list-style: none;
    float: left;
    width: 30%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.aboutMe .container .container-timeline .timeline li::before {
    counter-increment: year;
    content: counter(year);
    width: 50px;
    height: 50px;
    border: 3px solid var(--white-color);
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #f1f1f1;
    color: #000;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.aboutMe .container .container-timeline .timeline li::after {
    content: "";
    position: absolute;
    width: 84%;
    height: 1px;
    background-color: var(--primary-color-active);
    top: 25px;
    left: -42%;
    /* z-index: ; */
    transition: all ease-in-out 0.3s;
}

.aboutMe .container .container-timeline .timeline li:first-child::after {
    content: none;
}

.aboutMe .container .container-timeline .timeline li.active {
    color: var(--primary-color);
}

.aboutMe .container .container-timeline .timeline li.active::before {
    background: var(--primary-color);
    color: var(--white-color);
}
/*===== BEGIN AboutMe Style =====*/

/*===== END AboutMe Style =====*/

/*===== BEGIN AboutMe Style =====*/

.phrase.lazy-background {
    background-image: var(--background-color-secondary);
}
.phrase.lazy-background.visible {
    background-image: linear-gradient(
            rgba(60, 60, 60, 0.8) 20%,
            rgba(107, 107, 107, 0.8) 60%
        ),
        url("./../img/principal/phrase/phrase.jpg");
}

.phrase.parallax {
    height: 20em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.phrase .text {
    padding-top: 90px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-style: italic;
    color: white;
    /* text-shadow: 5px 4px 9px black; */
}

.phrase .author {
    text-align: right;
    padding-top: 18px;
    padding-right: 100px;
    color: #fff;
    font-size: 1.2em;
}

/*===== END AboutMe Style =====*/

/*===== BEGIN Portfolio Style =====*/

.portfolio {
    position: relative;
    padding: 50px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: var(--background-color-primary);
    background-image: linear-gradient(
            -197deg,
            var(--background-color-secondary) 43%,
            transparent 19%
        ),
        linear-gradient(11deg, var(--contrast-color) 32%, transparent 27%);
}

.portfolio .container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
}

.portfolio h1 {
    margin: 0;
    text-align: center;
    font-weight: 50;
    font-size: 40px;
    color: var(--contrast-color-secondary);
}

.portfolio p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: var(--text-color-primary);
}

/*Products and Projects */
.portfolio .container-product {
    background-color: var(--background-color-primary-hover);
    padding: 0;
    overflow: hidden;
    width: 200px;
    height: 300px;
    margin: 5px;
    border-radius: 15px;
    position: relative;
    float: left;
    box-shadow: 0px 0px 10px var(--background-color-secondary);

    /**/
    text-indent: -150%;
}

.portfolio .container-product article {
    padding: 10%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: all 0.5s ease;
}

.portfolio .container-product h2 {
    color: var(--text-color-white);
    font-weight: 800;
    font-size: 18px;
    border-bottom: var(--background-color) solid 1px;
}

.portfolio .container-product h4 {
    font-weight: 300;
    color: var(--text-color-white);
    font-size: 15px;
}

.portfolio .container-product img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    transition: all 2s ease;
}

.portfolio .container-product .show-more {
    background-color: var(--contrast-color);
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 70px);
    transition: all 0.2s ease-in-out;
}

.portfolio .container-product span {
    font-size: 25px;
    color: var(--text-color-white);
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 0px;
}

.portfolio .container-product:hover {
    cursor: pointer; /**/
    text-indent: 0%;
}

.portfolio .container-product:hover img {
    opacity: 0.2;
    transform: scale(1.5);
}

.portfolio .container-product:hover article {
    transform: translate(2px, -69px);
}

.portfolio .container-product:hover .show-more {
    transform: translate(0px, 0px);
    opacity: 1;
}

.portfolio .slider {
    margin-top: 40px;
}

.owl-prev {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border: 0px solid black;
}

.owl-next {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border: 0px solid black;
}
.owl-prev i,
.owl-next i {
    transform: scale(1, 6);
    color: #ccc;
    transition: all ease-in-out 0.3s;
}

.owl-prev i:hover,
.owl-next i:hover {
    color: var(--contrast-color);
}

.owl-stage-outer {
    height: 350px;
}
/*===== END Portfolio Style =====*/

/*===== BEGIN Contact Style =====*/

.contact {
    position: relative;
    padding: 50px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: auto;

    background: var(--contrast-color);
}

.contact .container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
}

.contact h1 {
    margin: 0;
    text-align: center;
    font-weight: 50;
    font-size: 40px;
    color: var(--text-color-white);
}

.contact p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: var(--text-color-white);
}

.contact .form-control {
    background: var(--background-color-secondary);
    color: var(--text-color-primary);
}

.contact button {
    background-color: var(--button-primary-color);
}
.contact button:hover {
    background-color: var(--button-primary-color-hover);
}
/*===== END Contact Style =====*/

.footer {
    position: relative;
    padding: 40px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: auto;

    background: var(--footer-color);
}

.footer .container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--text-color-white);
    font-size: 10px;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
}

.footer .container a {
    color: var(--contrast-color);
}

.footer .container #logo {
    width: 140px;
}

.footer .container .col-footer::nth-child(0) {
    border-right: 1px solid var(--contrast-color);
}

.footer .container .menu h4 {
    font-size: 15px;
    font-weight: 800;
}
